body {
    background-color: var(--color-background-page);
    color: var(--color-text-body);
}

body {
    font-family: var(--font-family-body);

}
body a {
    color: currentColor;
}
body a:hover {
    color: var( --color-link-hover);
}

li strong {
    color: var(--color-text-list-strong);
}
h1 {
    font-family: var(--font-family-display);
    font-size: var(--size-type-xlarge);
    font-weight: var(--font-weight-medium);

}
h2{
    font-family: var(--font-family-display);
    font-size: var(--size-type-large);
    font-weight: var(--font-weight-normal);
}

p em {
    font-style: var(--font-italic-body);
    font-weight: var(--font-weight-medium);
}
p {
    font-size: var(--size-type-medium);
}
svg.icon {
    display: inline;
    height: 2em;
    width: 2em;
    vertical-align: top;
    fill: currentColor;
}
.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.page > header {
    flex-basis: min-content;
}
section {
    flex-basis: auto;
    overflow: auto;
    margin: 0;
    padding: 0.5rem;
}
section.main-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--grid-gap);
    padding: var(--grid-container-padding);
    max-width: var(--grid-max-width);
    margin: auto;
    text-align: center;
}
img {
    width: 100vw;
    height: 400px;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: var(--img-border-radius);
}
section {
    display: grid;
    grid-template-columns: var(--grid-columns);
    grid-gap: var(--grid-gap);
    padding: var(--grid-container-padding);
    max-width: var(--grid-max-width);
    align-items: stretch;

}

section h1 {
    grid-column: 1 / -1;
    font-size: var(--size-type-xlarge);


}
.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: var(--card-border-color);
    border-radius: var(--card-border-radius);
    padding: var(--size-spacing-medium);
    background-color: var(--card-background-color);
    gap: var(--size-spacing-medium);
    flex-grow: 1;
}
.button {
    display: inline-block;
    padding: var(--size-spacing-medium);
    font-size: var(--size-type-medium);
    font-family: var(--font-family-display);
    background-color: var(--color-button-background);
    color: var(--color-button-text);
    border-radius: var(--card-border-radius);
    text-decoration: none;
    text-align: center;
    border: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--color-button-hover);
}

@media (max-width: 768px) {
    section {
        grid-template-columns: 1fr;
    }

    img {
        width: 100%;
    }

    .card {
        margin-bottom: var(--size-spacing-large);
    }
}