body {
    background-color: var(--color-background-page);
    color: var(--color-text-body);
}
header{
    background-color: var(--color-background-header);
    color: var(--color-text-header);
}

header h1 {
    font-family: var(--font-family-display);
    font-size: var(--size-type-xxxlarge);
    font-weight: var(--font-weight-light);
}
header img {
    width: 100%;
    height: var(--banner-height-large);
    object-fit: var(--banner-fit);
    object-position:var(--banner-position);
    display: var(banner-display);
}

img {
    max-width: 100%;
}

body {
    font-family: var(--font-family-body);

}
body a {
    color: currentColor;
}
body a:hover {
    color: var( --color-link-hover);
}

li strong {
    color: var( --color-strong-text);
}
h1 {
    font-family: var(--font-family-display);
    font-size: var(--size-type-xlarge);
    font-weight: var(--font-weight-medium);

}
h2{
    font-family: var(--font-family-display);
    font-size: var(--size-type-large);
    font-weight: var(--font-weight-normal);
}

p em {
    font-style: var(--font-italic-body);
    font-weight: var(--font-weight-medium);
}
svg.icon {
    display: inline;
    height: 2em;
    width: 2em;
    vertical-align: top;
    fill: currentColor;
  }
